include ./includes/headAdmin.jade
        script(src="/js/uczen/szukaj.js")
    body
    include ./includes/menuAdmin.jade
    block content
        div.login-wrap
            div.title-page="Wybierz egzamin"
            table.tabela1
                thead(style="width:100%;")
                    tr
                        td(style="width:10%;")="Lp."
                        td(style="width:50%;")="Nazwa testu"
                        td(style="width:10%;")="Ilość pytań"
                        td(style="width:10%;" colspan="2")="Opcje"
                tbody#tabelBody
                    for dane , i in data
                        tr
                            td=(i+1)+"."
                            td=dane.name
                            td=dane.ilosc_pytan
                            td
                                a.button(style="margin-bottom:5px;" href="/administrator/wyniki/"+dane.id data-toggle="tooltip" tooltip-text="Otwiera stronę z wynikami z danej sesji")="Wyniki"
                            td
                                a.button(style="margin-bottom:5px;" href="/administrator/egzamin/dell/"+dane.id data-toggle="tooltip" tooltip-text="Kończy możliwość rozwiązywania egzaminów z danej sesji")="Zakończ"
                    else
                        tr
                            td(style="color:#ff0000;font-size:50px;" colspan="4")="Brak rozpoczętych testów "
        div(class="stopka")="© 2019 - Bartosz Śnieg"

    if alert
        div.blankT
        div#alert.alert
            div.title-page="Powiadomienie"
            span=alert
            br
            br
            span#closeA.button="Zamknij"
        script(src="/js/admin/powiadomienie.js")