include ./includes/headAdmin.jade
        script(src="/js/admin/wyniki.js")
        script(src="/socket.io/socket.io.js")
    body
    include ./includes/menuAdmin.jade
    block content
        div.login-wrap
            div.title-page="Wyniki: "+data.testName
            br
            table.tabela1
                thead(style="width:100%;")
                    tr
                        td(style="width:10%;")="Lp."
                        td(style="width:40%;")="Imię i nazwisko"
                        td(style="width:20%;")="Ilośc punktów"
                        td(style="width:20%;")="Procenty"
                tbody#tabelBody
                    for dane , i in data.odpowiedzi
                        tr
                            td=(i+1)+"."
                            td=dane.name
                            td=dane.pukty+"/"+dane.max
                            td=dane.procent+"%"
                    else
                        tr
                            td(style="color:#ff0000;font-size:50px;"  colspan="4")="Nie znaleziono wyników "
        div(class="stopka")="© 2019 - Bartosz Śnieg"
    if alert
        div.blankT
        div#alert.alert
            div.title-page="Powiadomienie"
            span=alert
            br
            br
            span#closeA.button="Zamknij"
        script(src="/js/admin/powiadomienie.js")