div.nav
    span="Witaj " + name + " !"
        
    ol
    
        
        li
            a(href="#")="Profil"
            ul
                li
                    a( href="#")="Ustawienia"
                li
                    a( href="#")="Zmiana hasła"
        li
            a(href="/administrator/testy/szukaj")="Testy"
            ul
                li
                    a( href="/administrator/testy/start")="Rozpocznij test"
                li
                    a( href="/administrator/testy/dodaj")="Dodaj test"
                li
                    a( href="/administrator/testy/aktualne")="Aktualne testy"
        li
            a(href="/administrator/wyniki")="Wyniki"
        li
            a(href="/wyloguj")="Wyloguj"

                              