div.nav
    span#mainWindow="Witaj " + name + " !"
        
    ol
    
        li
            a(href="/administrator")="Strona główna"
        li
            a()="Profil"
            ul
                li
                    a( href="/administrator/zmiana/hasla")="Zmiana hasła"
        li
            a(href="/administrator/testy/szukaj")="Testy"
            ul
                li
                    a( href="/administrator/testy/dodaj")="Dodaj test"
                li
                    a( href="/administrator/testy/aktualne")="Aktualne testy"
        li
            a(href="/administrator/wyniki")="Wyniki"
        li
            a(href="/wyloguj")="Wyloguj"
    srcipt(src="/js/menu.js")


                              